<div class="container" style="border-color: blue; border-width: 2px;">

    <div>
        <h1> ASSUREZ-VOUS CHEZ NOUS !!! </h1>
    </div>

    <div class="row">
        <div class="col-6 homes">
            <h1>HOMES</h1>
            <div routerLink="/submission" class="link link-hover">
                 <h2>Demandez une soumission</h2>
            </div>
        </div>
        <div class="col-6 cars">
            <h1>CARS</h1>
            <div routerLink="/submission" class="link link-hover">
                 <h2>Demandez une soumission</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 portraits">
            <h1>portraits</h1>
            <div routerLink="/submission" class="link link-hover">
                 <h2>Demandez une soumission</h2>
            </div>
        </div>
        <div class="col-6 others">
            <h1>others</h1>
            <div routerLink="/submission" class="link link-hover">
                 <h2>Demandez une soumission</h2>
            </div>
        </div>
    </div>
</div>